body {
	background: #ECECEC;
}

.menu {
	height: 2000px;
	background-color: #3655D1;
}

.h50 {
	height: 50px;
	background-color: #FFFFFF;
	/* border: #000000 solid 1px; */
	margin-top: 15px;
	box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}
.h50-1 {
	height: 120px;
	background-color: #FFFFFF;
	/* border: #000000 solid 1px; */
	margin-top: 15px;
	box-shadow: 0 4px 16px 0 rgba(167, 175, 183, 0.33);
}

.no-padding {
	/* margin-left: -15px; */
	margin-right: -15px;
}

.h200 {
	height: 200px;
	background-color: #FFFFFF;
	border: #000000 solid 1px;
	margin-top: 15px;
}

.number {
	margin-left: 40px;
}

.number span,.cout .dropdown {
	width: 150px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	vertical-align: middle;
	font-family: "roboto", sans-serif;
}
.email-lin{
	margin-left: 10px;
	width:150px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.email-lin img{
	margin-top: 18px;
	margin-right: 18px;
}
.input-group .form-control{
	width: 100px;
}
.flag{
	width: 23px;
	height: 23px;
	line-height: 5px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 30px;
	background-image: url(../img/Oval.jpg);
}
.dropdown{
	margin-left: 32px;
}
.h4{
	font-size: 1.25rem;
}
.page-header {
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #cdd6dc;
    margin-bottom: 15px;
}
.page-title {
    
    margin-bottom: 2px;
}
.w-100 {
    width: 100% !important;
}
.flex-md-wrap {
    flex-wrap: wrap !important;
}
.d-md-flex {
    display: flex !important;
}
.ml-auto {
    margin-left: auto !important;
}
.quick-links {
	padding-left: 10px;
    list-style: none;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    margin-top: 4px;
}
.quick-links li a {
    display: inline-block;
    color: #212529;
    text-decoration: none;
    padding-right: 10px;
}
.page-title {
	margin-top: 0;
	margin-bottom: 2px;
    color: #212529;
    margin: 0.38rem 0 0.75rem;
    
}
.date{
	height: 40px;
	width: 300px;
	margin-left: 0;
	margin-bottom: 0;
	border-radius: 5px;
	background-color: aquamarine;
}
.date span{
	width: 300px;
	height: 50px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	font-family: "roboto", sans-serif;
}
